/* article-section css start */
.article-section {
    padding: 0 0 50px 0;
}

.article-breadcrumb {
    padding: 20px 0;
    background: var(--section-bg);
}

.article-heading {
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin: 0 0 40px 0;
}

.h2.article-title {
    font-weight: 300;
    text-transform: capitalize
}

.article-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.article-content-left {
    grid-column: span 2;
}

.article-content-inner {
    padding: 40px;
    box-shadow: 0px 5px 10px 0px #0D11260D;
}

.article-content-description .h6 {
    font-weight: 300;
    text-transform: uppercase;
}

.article-content-description {
    display: flex;
    align-items: center;
    gap: 10px;
}

.article-content-description .h6 {
    font-weight: 300;
    text-transform: uppercase;
}

.devider-circle {
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid var(--text-muted);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.article-content {
    margin: 30px 0 0 0;
}

.article-content p {
    font-size: 16px;
    line-height: 26px;
    color: var(--text-muted);
}

.article-content-share {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.article-content-share .article-content-description .h6 {
    text-transform: capitalize;
}

.article-content-share .share-btn {
    font-size: 18px;
    color: var(--text-muted);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.article-content-share .share-btn:hover {
    text-decoration: underline;
}

.content-link-wrap {
    margin: 75px 0 0 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.content-link-wrap a {
    color: var(--paragraph-text-color);
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: capitalize;
    max-width: 380px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.content-link-wrap a .icon {
    display: flex;
}

.content-link-wrap a:hover {
    text-decoration: underline;
}

.blog-author-wrap {
    margin: 75px 0 0 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.blog-author-img {
    overflow: hidden;
    width: 167px;
    min-width: 167px;
    height: 167px;
    border-radius: 100%;
}

.blog-author-title {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 20px 0;
}

.h4.blog-author-name {
    font-weight: 300;
    text-transform: capitalize;
}

.blog-author-social {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0 0 0;
}

.blog-author-social li a {
    display: flex;
}

.blog-author-text {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 26px;
}

.comment-area {
    margin: 75px 0 0 0;
}

.h4.comment-area-title {
    text-transform: capitalize;
    font-weight: 300;
}

.comment-area-text {
    margin: 40px 0 0 0;
    font-size: 18px;
}

.comment-form textarea {
    margin: 40px 0 0 0;
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 16px;
}

.comment-input-wrap {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.comment-input-wrap input {
    border: 1px solid var(--border-color);
    height: 48px;
    padding: 0 16px;
}

.comment-checkbox {
    margin: 20px 0 0 0;
}

.comment-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.comment-checkbox label {
    position: relative;
    cursor: pointer;
    color: var(--text-muted);
    font-size: 16px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    text-transform: capitalize;
    user-select: none;
}

.comment-checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--text-muted);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.comment-checkbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 9px;
    width: 3px;
    height: 10px;
    border: solid var(--text-muted);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.comment-form .btn {
    width: 100%;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

.blog-link-area {
    padding: 0 0 40px 0;
}

.h4.blog-link-area-title {
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 30px 0;
}

.blog-links li {
    padding: 0 0 20px 20px;
    position: relative;
}

.blog-links li:last-child {
    padding: 0 0 0 20px;
}

.blog-links li a {
    font-size: 20px;
    color: var(--paragraph-text-color);
    font-weight: 300;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.blog-links li::before {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 7px;
    width: 8px;
    height: 16px;
    background-image: url('../images/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-links li a:hover {
    text-decoration: underline;
}

.blog-list {
    padding: 40px 0 0 0;
    border-top: 1px solid var(--border-color);
}

.h4.blog-list-title {
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 30px 0;
}

.blog-list-item {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-list-item:last-child {
    margin: 0;
}

.blog-list-item-img {
    width: 74px;
    height: 74px;
    min-width: 74px;
}

.h5.blog-list-item-title {
    text-transform: capitalize;
    font-weight: 300;
    color: var(--heading-text-color);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.blog-list-item-title:hover {
    text-decoration: underline;
}

.blog-list-item-date {
    color: var(--text-muted);
    text-transform: uppercase;
    margin: 8px 0 0 0;
    font-weight: 300;
}

/* article-section css end */

@media only screen and (max-width: 992px) {

    /* article-section css start */
    .article-content-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .article-content-left {
        grid-column: span 1;
    }

    /* article-section css end */
}

@media only screen and (max-width: 767px) {

    /* article-section css start */
    .article-content-inner {
        padding: 40px 0;
    }

    .blog-author-wrap {
        gap: 20px;
    }

    .comment-input-wrap {
        grid-template-columns: repeat(1, 1fr);
        margin: 9px 0 0 0;
        gap: 16px;
    }

    /* article-section css end */
}

@media only screen and (max-width: 575px) {

    /* article-section css start */
    .article-breadcrumb {
        padding: 16px 0;
    }

    .article-section {
        padding: 0 0 30px 0;
    }

    .article-heading {
        padding: 20px 0;
        margin: 0 0 20px 0;
    }

    .article-content-inner {
        padding: 20px 10px;
    }

    .article-content-description {
        gap: 8px;
        flex-wrap: wrap;
    }

    .article-content {
        margin: 16px 0 0 0;
    }

    .article-content p {
        font-size: 14px;
        line-height: 23px;
    }

    .article-content-share {
        margin: 20px 0 0 0;
    }

    .content-link-wrap {
        margin: 24px 0 0 0;
        padding: 16px;
        flex-direction: column;
        gap: 12px;
    }

    .content-link-wrap a {
        font-size: 16px;
        gap: 10px;
    }

    .content-link-wrap a .icon svg {
        height: 12px;
    }

    .blog-author-wrap {
        margin: 20px 0 0 0;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .blog-author-content {
        text-align: center;
    }

    .blog-author-title {
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    .blog-author-social {
        gap: 20px;
        margin: 16px 0 0 0;
        justify-content: center;
    }

    .blog-author-img {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }

    .blog-author-text {
        margin: 10px 0 0 0;
        font-size: 14px;
        line-height: 20px;
    }

    .comment-area {
        margin: 20px 0 0 0;
    }

    .comment-area-text {
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    .comment-form textarea {
        margin: 20px 0 0 0;
    }

    .comment-input-wrap input {
        height: 44px;
    }

    .comment-checkbox label {
        font-size: 14px;
    }

    .article-content-wrapper {
        gap: 20px;
    }

    .blog-link-area {
        padding: 0 0 20px 0;
    }

    .h4.blog-link-area-title {
        margin: 0 0 16px 0;
    }

    .blog-links li {
        padding: 0 0 10px 14px;
    }

    .blog-links li:last-child {
        padding: 0 0 0 16px;
    }

    .blog-links li::before {
        height: 10px;
    }

    .blog-links li a {
        font-size: 16px;
    }

    .blog-list {
        padding: 20px 0 0 0;
    }

    .h4.blog-list-title {
        margin: 0 0 20px 0;
    }

    .blog-list-item {
        margin: 0 0 16px 0;
        gap: 16px;
    }

    .blog-list-item-date {
        margin: 5px 0 0 0;
    }

    /* article-section css end */
}