/* blog-section css start */
.blog-page-banner {
    background-image: url("../images/common-section-banner.jpg");
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-img {
    overflow: hidden;
    aspect-ratio: 4.2/2.95;
}

.blog-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: ease .3s;
}

.blog-img:hover img {
    transform: scale(1.1);
}

.blog-content {
    margin: 16px 0 0 0;
}

.blog-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.blog-content-title {
    text-transform: capitalize;
    color: var(--heading-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0 0 0;
    display: block;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.blog-content-title:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.blog-content-text {
    margin: 10px 0 0 0;
    color: var(--text-muted);
}

.blog-btn {
    margin: 10px 0 0 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--btn-color);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--heading-font);
    line-height: 1;
    transition: all ease .3s;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-btn:hover {
    text-decoration: none;
}

.blog-section .pagination {
    margin: 50px 0 0 0;
}

/* blog-section css end */

@media only screen and (max-width: 992px) {

    /* blog section css start */
    .blog-items {
        gap: 16px;
    }

    /* blog section css end */
}

@media only screen and (max-width: 767px) {

    /* blog section css start */
    .blog-items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .blog-content-title {
        font-size: 16px;
        line-height: 20px;
    }

    /* blog section css end */
}

@media only screen and (max-width: 575px) {

    /* blog section css start */
    .blog-items {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 24px;
    }

    .blog-section.blog-page .blog-items {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }

    .blog-content {
        margin: 10px 0 0 0;
        text-align: left;
    }

    .blog-content-title {
        font-size: 14px;
        margin: 5px 0 0 0;
    }

    .blog-content-text {
        margin: 5px 0 0 0;
        font-size: 12px;
        line-height: 17px;
    }

    .blog-section .pagination {
        margin: 20px 0 0 0;
    }

    /* blog section css end */
}