/* product-card css start */

.product-card {
    height: 100%;
}

.product-card .card-image-wrap {
    margin: 0;
    min-width: 0px;
    border: 0px;
    box-sizing: border-box;
    display: flex;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: var(--card-bg);
}

.card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: var(--white);
    font-family: var(--paragraph-font);
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 5px 8px;
    background-color: var(--card-badge-bg);
    text-transform: capitalize;
}

.product-card .card-image-wrap:before {
    padding-bottom: 133%;
    content: "";
    width: 0;
    height: 0;
}

.product-card .card-image-wrap .card-img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.product-card .card-img .main-img {
    transition: ease .5s;
}

.product-card .card-img .main-img img {
    object-fit: cover;
}

.card_hover:hover .card-img .main-img {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

.product-card .card-img .hover-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
    transition: ease .5s;
}

.card_hover:hover .card-img .hover-img {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.product-card .card_hover_img {
    object-fit: cover;
}

.product-card .card-content {
    margin: 16px 0 0 0;
    text-align: left;
    padding: 0 20px;
}

.product-card .card-content .card-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.product-card .card-content .card-title {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    transition: ease .2s;
}

.product-card .card-content .card-title:hover {
    text-decoration: underline;
}

.product-card .card-content .card-subtitle {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}

.card-product-varient {
    margin: 10px 0 0 0;
    color: var(--text-muted);
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 16px;
}

.product-card .card-content .card-price {
    display: flex;
    gap: 5px;
}

.product-card .card-content .card-price-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-card .card-content .card-price-wrap .latest-price {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
}

.product-card .card-content .card-price-wrap .previous-price {
    text-transform: capitalize;
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    color: var(--text-danger);
    text-decoration: line-through;
    line-height: 1;
    display: flex;
    align-items: flex-start;
}

.card-btn {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}

.product-card:hover .card-btn {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.card-btn .btn {
    padding: 8px 20px;
    border: none;
    text-wrap-mode: nowrap;
    width: 100%;
}

.card-btn .btn:hover {
    color: var(--white);
    padding: 8px 25px;
}

.card-btn .primary-btn:active {
    background-color: var(--btn-bg);
}

/* product-card css end */

@media only screen and (max-width: 767px) {

    /* product-card css start */
    .product-card .card-content .card-title {
        font-size: 14px;
        line-height: 20px;
    }

    .card-btn .btn {
        padding: 10px;
        font-size: 14px;
    }

    .card-badge {
        font-size: 12px;
        top: 10px;
        left: 10px;
        padding: 4px 5px;
    }

    /* product-card css end */
}

@media only screen and (max-width: 575px) {

    /* product-card css start */
    .product-card .card-content {
        margin: 8px 0 0 0;
        padding: 0 10px;
    }

    .product-card .card-content .card-content-top {
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-product-varient {
        margin: 8px 0 0 0;
    }

    .card-btn .btn {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

    .card-badge {
        font-size: 10px;
    }

    /* product-card css end */
}