/* cart section css start */
.cart-section {
    padding: 50px 0;
    margin: 110px 0 0 0;
}

.cart-wrapper {
    display: flex;
    margin: 0 50px;
    gap: 50px;
}

.cart-product-content-area {
    width: 60%;
}

.cart-product-summary-content {
    width: 40%;
    background-color: var(--section-bg);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    height: fit-content;
    position: sticky;
    top: 133px;
}

.cart-product-content-top {
    margin: 0 0 24px 0;
    padding: 24px;
    background-color: var(--section-bg);
    border: 1px solid var(--border-color);
}

.cart-product-content-top .section-heading-wrapper {
    margin-bottom: 0;
}

.cart-product-wrapper {
    margin: 24px 0 0 0;
    padding: 24px;
    border: 1px solid var(--border-color);
    background-color: var(--section-bg);
}

.cart-product-wrapper-title {
    text-transform: capitalize;
}

.cart-product-items {
    margin: 16px 0 0 0;
}

.cart-product-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
    border-bottom: 1px solid var(--border-color);
}

.cart-product-item:last-child {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.cart-product-img {
    width: 168px;
    overflow: hidden;
    background: var(--white);
}

.cart-product-content {
    width: calc(100% - 185px);
}

.cart-product-title {
    text-transform: capitalize;
}

.cart-product-title a {
    color: var(--paragraph-text-color);
}

.cart-product-title a:hover {
    text-decoration: underline;
}

.cart-product-varient {
    margin: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-product-varient p {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: capitalize;
}

.cart-product-varient p span:last-child {
    font-weight: 400;
}

.cart-product-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 16px 0 0 0;
}

.cart-product-price {
    font-size: 16px;
    text-transform: uppercase;
}

.dlt-btn-with-cart-quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-delete-btn {
    display: flex;
}

.cart-delete-btn:hover svg path {
    fill: var(--brand-color);
}

.cart-quantity-wrap {
    display: flex;
    align-items: center;
}

.cart-quantity-increase,
.cart-quantity-decrease {
    display: flex;
}

.cart-quantity-decrease.disabled svg path {
    fill-opacity: 0.4;
}

.cart-quantity-decrease.disabled {
    cursor: not-allowed;
}

.cart-quantity-number {
    max-width: 30px;
    text-align: center;
    font-weight: 500;
    padding: 0;
    border: none;
    height: 100%;
}

.cart-product-summary-title {
    text-transform: capitalize;
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.cart-product-summary-items {
    margin: 20px 0 0 0;
}

.cart-product-summary-item {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.cart-product-summary-item:last-child {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.cart-product-summary-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 0 0 10px 0;
}

.cart-product-summary-list li p {
    font-size: 14px;
    line-height: 18px;
}

.cart-product-summary-list li p span {
    font-weight: 500;
    margin: 0 10px 0 0;
}

.cart-product-summary-list li p .price {
    text-transform: uppercase;
}

.cart-product-summary-list.order-list li {
    margin: 0 0 16px 0;
}

.cart-product-summary-list li:last-child {
    margin: 0;
}

.cart-product-summary-list.total-price-list li p {
    font-size: 20px;
}

.cart-product-discount {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px 0;
}

.cart-product-discount-field {
    width: calc(100% - 114px);
    border: 1px solid var(--border-color);
    height: 48px;
    padding: 0 16px;
}

.cart-product-discount-field:focus {
    border-color: var(--brand-color);
}

.cart-product-summary-list.total-price-list li p {
    font-size: 16px;
}

.cart-checkout-btn {
    display: flex;
    margin: 35px 0 0 0;
}

.cart-checkout-btn .btn {
    width: 100%;
}

/* cart section css end */

@media only screen and (max-width: 1200px) {

    /* cart section css start */
    .cart-wrapper {
        margin: 0 15px;
        gap: 24px;
    }

    /* cart section css end */
}

@media only screen and (max-width:992px) {

    /* cart section css start */
    .cart-section {
        margin: 94px 0 0 0;
    }

    .cart-wrapper {
        flex-wrap: wrap;
    }

    .cart-product-content-area {
        width: 100%;
    }

    .cart-product-summary-content {
        width: 100%;
        padding: 24px;
        position: unset;
    }

    /* cart section css end */
}

@media only screen and (max-width: 575px) {

    /* cart section css start */
    .cart-section {
        padding: 20px 0;
    }

    .cart-wrapper {
        gap: 20px;
    }

    .cart-product-content-top {
        margin: 0 0 20px 0;
        padding: 10px;
    }

    .cart-check-progress {
        width: 35px;
        height: 35px;
    }

    .cart-check-progress-wrap {
        gap: 5px;
    }

    .cart-check-progress-line {
        width: 60px;
    }

    .cart-progress-bar-area {
        padding: 10px;
        gap: 5px;
    }

    .cart-progress-bar-text {
        font-size: 12px;
        line-height: 16px;
        width: calc(100% - 26px);
    }

    .cart-product-wrapper {
        margin: 16px 0 0 0;
        padding: 10px;
    }

    .cart-product-item {
        gap: 10px;
    }

    .cart-product-img {
        width: 29%;
    }

    .cart-product-content {
        width: 70%;
    }

    .cart-product-title {
        line-height: 18px;
    }

    .cart-product-btm {
        gap: 20px;
        margin: 10px 0 0 0;
    }

    .cart-product-price {
        font-size: 16px;
    }

    .dlt-btn-with-cart-quantity {
        gap: 12px;
    }

    .cart-delete-btn svg {
        width: 16px;
        height: 20px;
    }

    .cart-quantity-increase svg,
    .cart-quantity-decrease svg {
        width: 24px;
        height: 24px;
    }

    .cart-product-summary-content {
        padding: 10px;
    }

    .cart-product-summary-items {
        margin: 16px 0 0 0;
    }

    .cart-product-summary-item {
        padding: 0 0 16px 0;
        margin: 0px 0 16px 0;
    }

    .cart-product-summary-list.order-list li {
        margin: 0 0 12px 0;
    }

    .cart-product-discount {
        margin: 0 0 16px 0;
    }

    .cart-product-discount-field {
        width: calc(100% - 102px);
        height: 41px;
        padding: 0 10px;
    }

    .cart-checkout-btn {
        margin: 20px 0 0 0;
    }

    /* cart section css end */
}