/* collection-tab-section start */
/* product tab css start */
.collection-tab-grid-section .container,
.collection-tab-section .container {
    max-width: 100%;
}

.tab-wrapper .section-sub-heading {
    text-align: center;
}

.tab-navs {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.tabs-nav-item-link {
    color: var(--btn-bg);
    font-size: 28px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 140%;
    display: block;
    border-bottom: 0;
    text-wrap: nowrap;
    text-transform: uppercase;
}

.tabs-nav-item-link:hover {
    border-bottom: 1px solid var(--brand-color);
}

.tab-nav-item.active .tabs-nav-item-link {
    border-bottom: 1px solid var(--brand-color);
}

.tab-content-items {
    padding: 20px 0 0 0;
}

.tab-content-text {
    margin: 15px 0 0 0;
    max-width: 1062px;
}

.tab-content-text:first-child {
    margin: 0;
}

/* product tab css end */
/* collection-tab-section end */

/* collection-tab-grid-section css start */
.collection-tab-grid-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

/* collection-tab-grid-section css end */

@media only screen and (max-width: 992px) {

    /* collection-tab-section start */
    .collection-tab-section .container {
        padding: 0 0 0 20px;
    }

    /* collection-tab-section end */

    /* collection-tab-grid-section css start */
    .collection-tab-grid-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    /* collection-tab-grid-section css end */

}

@media only screen and (max-width: 767px) {

    /* collection-tab-section start */
    .tab-navs {
        gap: 20px;
    }

    .tabs-nav-item-link {
        font-size: 20px;
    }

    /* collection-tab-section end */

    /* collection-tab-grid-section css start */
    .collection-tab-grid-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        row-gap: 20px;
    }

    /* collection-tab-grid-section css end */

}