/* grid-category-section css start */
.grid-category-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-category-section.img-text-grid--section .grid-category-items {
    padding: 0 20px;
}

.grid-category-item {
    position: relative;
    overflow: hidden;
}

.grid-category-item:before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, #fff0, #ffffff4d);
    -webkit-transform: skewX(-25deg);
    transform: skew(-25deg);
}

.grid-category-item:hover:before {
    -webkit-animation: shine .75s;
    animation: shine .95s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.grid-category-item-inner {
    display: block;
    width: 100%;
    height: 100%;
}

.grid-category-item-img {
    width: 100%;
    height: 100%;
}

.grid-category-item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 30%);
}

.grid-category-section.img-text-grid--section .grid-category-item-content {
    background-color: transparent;
}

.grid-category-item-content-inner {
    padding: 10px 20px;
    text-align: center;
    transition: ease .3s;
}

.grid-category-item .grid-category-item-content-inner .grid-category-item-content-title {
    color: var(--white);
    text-transform: capitalize;
}

.grid-category-item .grid-category-item-content-inner .grid-category-item-content-text {
    color: var(--white);
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.grid-category-item .grid-category-item-content-inner .btn {
    margin: 16px 0 0 0;
}

/* grid-category-section css end */

@media only screen and (max-width: 767px) {

    /* grid-category section css start */
    .grid-category-items {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-category-item-content-inner {
        padding: 6px 12px;
    }

    .grid-category-item .grid-category-item-content-inner .grid-category-item-content-title {
        font-size: 28px;
    }

    /* grid-category section css end */
}

@media only screen and (max-width: 767px) {

    /* grid-category section css start */

    .grid-category-item .grid-category-item-content-inner .grid-category-item-content-title {
        font-size: 24px;
    }

    /* grid-category section css end */
}

@media only screen and (max-width: 575px) {

    /* grid-category section css start */

    .grid-category-item .grid-category-item-content-inner .grid-category-item-content-title {
        font-size: 20px;
    }

    .grid-category-item .grid-category-item-content-inner .grid-category-item-content-text {
        margin: 6px 0 0 0;
        font-size: 14px;
        font-weight: 500;
    }

    .grid-category-item .grid-category-item-content-inner .btn {
        margin: 10px 0 0 0;
    }

    /* grid-category section css end */
}