/* navbar css start */
.navbar {
    background: transparent;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    transition: ease .3s;
    width: 100%;
    z-index: 999;
}

.navbar.navbar-bg {
    background: var(--white);
}

.navbar.nav-fixed {
    top: 0;
    background: var(--white);
}

.navbar .container {
    height: 100%;
    max-width: 100%;
}

.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 50px;
    height: 100%;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.navbar-left .navbar-icons {
    display: none;
    padding: 0;
}

.mobile-menu-btn {
    display: none;
}

.ham-menu {
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--black);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-logo {
    height: 80px;
    display: block;
    padding: 10px 0;
}

.navbar-middle {
    height: 100%;
}

.navbar-links-wrapper {
    height: 100%;
}

.mobile-menu-close-window-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    cursor: pointer;
    display: none;
}

.navbar-links-inner {
    height: 100%;
}

.nav-sidebar-top {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 20px;
    border-bottom: 1px solid var(--border-color);
    height: 64px;
}

.sidebar-title p{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--brand-color);
}

.navbar-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 14px 16px;
    text-transform: uppercase;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    transition: all ease .3s;
    text-wrap-mode: nowrap;
    cursor: pointer;
    letter-spacing: 2px;
}

.navbar-link:hover .navbar-link-title {
    background: var(--item-bg2);
}

.navbar-link-title .icon {
    display: flex;
}

.navbar-link-title .icon svg {
    transition: all ease .3s;
}

.navbar-link:hover .navbar-link-title .icon svg {
    transform: rotate(180deg);
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 0 12px 0 0;
}

.navbar-icons li span,
.navbar-icons li a {
    cursor: pointer;
}

.navbar-icons li span svg,
.navbar-icons li a svg {
    width: 24px;
    display: flex;
}

.navbar-link-content {
    padding: 130px 0 50px 0;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: var(--body-color);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    max-height: 80dvh;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: -1;
}

.navbar-link:hover .navbar-link-content {
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

/* navbar-dropdown css start */
.dropdown-nav-link-text .icon svg {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}

.dropdown-wrapper:hover .navbar-link-text .icon svg,
.dropdown-wrapper2:hover .dropdown-nav-link-text .icon svg {
    transform: rotate(-180deg);
}

.dropdown-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 130%;
    padding: 20px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
    width: 200px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
    -moz-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
}

.dropdown-wrapper:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.sub-menu2 {
    position: absolute;
    left: 112%;
    top: 100%;
    padding: 20px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
    width: 200px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
    -moz-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 19%);
}

.dropdown-wrapper2:hover .sub-menu2 {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.navbar-link:last-child .sub-menu2 {
    right: 112%;
    left: auto;
}

.sub-menu ul li,
.sub-menu2 ul dropdown-nav-link-text {
    position: relative;
}

.sub-menu ul li::after,
.sub-menu2 ul dropdown-nav-link-text::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--black);
    z-index: 1;
    transition: ease .3s;
}

.sub-menu ul li:hover::after,
.sub-menu2 ul dropdown-nav-link-text:hover::after {
    left: 0px;
    width: 100%;
}

.sub-menu ul li a,
.dropdown-nav-link-text {
    font-size: 16px;
    padding: 10px 5px;
    display: block;
    color: var(--paragraph-text-color);
    font-weight: 400;
    font-family: var(--heading-font);
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}

.dropdown-nav-link-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

/* navbar-dropdown css end */

/* navbar-sidebar-bottom css start */
.navbar-sidebar-bottom {
    padding: 10px 20px;
    background-color: var(--brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    display: none;
}

.navbar-sidebar-bottom .social-icons {
    justify-content: center;
}

.navbar-sidebar-bottom .social-icons li a {
    background: var(--white);
}

/* navbar-sidebar-bottom css end */

/* navbar-img-link-content css start */
.navbar-img-link-content {
    display: flex;
    column-gap: 50px;
}

.navbar-img-link-content-left,
.navbar-img-link-content-right {
    width: 50%;
}

.navbar-img-link-content-left {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.navbar-img-link-content-left-item {
    min-width: 200px;
}

.navbar-img-link-content-left-item-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0 12px 10px;
    letter-spacing: 1px;
}

.navbar-img-link-content-left-item ul li a {
    display: block;
    padding: 8px 20px 8px 10px;
    text-transform: capitalize;
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 400;
    transition: all ease .3s;
    overflow: hidden;
    letter-spacing: 1px;
}

.navbar-img-link-content-left-item ul li a:hover {
    background: var(--item-bg2);
}

.navbar-img-link-content-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.navbar-img-card .product-card .card-image-wrap:before {
    padding-bottom: 100%;
}

.navbar-img-card .product-card .card-image-wrap .card-img .main-img img {
    transition: all ease .3s;
}

.navbar-img-card .product-card .card-image-wrap .card-img .main-img:hover img {
    transform: scale(1.1);
}

/* navbar-img-link-content css end */

/* navbar-img-link-content2 css start */
.navbar-img-link-content2 .navbar-img-link-content-left {
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

/* navbar-img-link-content2 css end */

.side-cart-btn {
    position: relative;
}

.cart-count {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    font-family: var(--paragraph-font);
    border-radius: 50px;
    overflow: hidden;
    background: var(--btn-bg);
    line-height: 1;
    top: -5px;
    right: -12px;
    line-height: 16px;
}

/* navbar css end */

/* search-bar css start */
.search-bar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 9999;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
}

.search-bar-overlay.active {
    opacity: 1;
    visibility: visible;
}

.search-bar-close-window-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    cursor: pointer;
}

.search-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: 300ms;
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
    background: var(--white);
    padding: 20px;
}

.search-bar-overlay.active .search-bar-inner {
    transform: translateY(0);
}

.search-close-btn {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.navbar-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.search-btn {
    width: 48px;
    height: 48px;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-bg);
}

.search-btn svg {
    transition: all ease .3s;
}

.search-btn:hover svg {
    transform: scale(1.1);
}

/* search-bar css end */
@media only screen and (max-width: 1480px) {

    /* navbar css end */
    .navbar-wrapper {
        gap: 24px;
    }

    /* navbar-img-link-content css start */
    .navbar-img-link-content-left .navbar-img-link-content-left-item {
        min-width: 165px;
    }

    /* navbar-img-link-content css end */

    /* navbar css end */
}

@media only screen and (max-width: 1200px) {

    /* navbar css end */

    .navbar-img-link-content-right {
        gap: 20px;
    }

    /* navbar css end */
}

@media only screen and (max-width: 992px) {

    /* navbar css end */
    .navbar-wrapper {
        gap: 20px;
    }

    .navbar-left .navbar-icons {
        display: flex;
    }

    .navbar-right .navbar-icons .search-bar-open-btn {
        display: none;
    }

    .navbar-middle .navbar-brand {
        display: block;
    }

    .mobile-menu-btn {
        display: block;
    }

    .mobile-menu-close-window-btn {
        display: block;
    }

    .nav-sidebar-top {
        display: flex;
    }

    .navbar-logo {
        height: 64px;
    }

    .navbar-links-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        z-index: 9999;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
    }

    .navbar-links-wrapper.active {
        opacity: 1;
        visibility: visible;
    }

    .navbar-links-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 340px;
        z-index: 2;
        transition: 300ms;
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
        height: 100%;
        max-height: 100%;
        background: var(--white);
    }

    .navbar-links-inner.active {
        transform: translateX(0);
    }

    .navbar-links {
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: calc(100dvh - 136px);
        gap: 0;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .navbar-link {
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .navbar-link-title {
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;
        transition: none;
        height: auto;
        font-size: 16px;
        text-transform: capitalize;
    }

    .navbar-link-title .icon {
        display: none;
    }

    .navbar-link:hover .navbar-link-title {
        background: unset;
    }

    .navbar-link:hover .navbar-link-title .icon {
        display: none;
    }

    .dropdown-btn1.active .icon,
    .dropdown-btn2.active .icon {
        display: none;
    }

    /* .navbar-link:hover .navbar-link-title .icon svg {
        transform: unset;
    }

    .navbar-link.active .navbar-link-title .icon svg {
        transform: rotate(180deg);
    }

    .dropdown-btn1.active .icon svg,
    .dropdown-btn2.active .icon svg {
        transform: rotate(180deg);
    } */

    .navbar-link-content {
        padding: 0 0 10px 0;
        position: unset;
        width: 100%;
        opacity: 1;
        visibility: visible;
        background-color: var(--white);
        box-shadow: none;
        max-height: initial;
        height: auto;
        overflow-y: visible;
        scrollbar-width: none;
        transition: none;
    }

    .navbar-link:hover .navbar-link-content {
        top: unset;
        opacity: 1;
        visibility: visible;
        transition: unset;
    }

    .navbar-img-link-content {
        column-gap: 20px;
        flex-direction: column;
        row-gap: 20px;
    }

    .navbar-img-link-content-left,
    .navbar-img-link-content-right {
        width: 100%;
    }

    .navbar-img-link-content-left {
        gap: 20px;
        flex-direction: column;
    }

    .navbar-img-link-content-left-item-title {
        padding: 0 0 10px 0;
        text-transform: capitalize;
    }

    .navbar-img-link-content-left-item ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 0 0 10px;
    }

    .navbar-img-link-content-left-item ul li {
        position: relative;
        padding: 0 0 0 20px;
    }

    .navbar-img-link-content-left-item ul li::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/navlink-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .navbar-img-link-content-left-item ul li a {
        padding: 0;
        font-weight: 500;
    }

    .navbar-img-link-content-right {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        display: none;
    }

    .navbar-img-link-content2 .navbar-img-link-content-left {
        gap: 0;
    }

    /* dropdown css start */
    .dropdown-wrapper {
        display: block;
        width: 100%;
    }

    .sub-menu,
    .sub-menu2 {
        position: unset;
        padding: 0 20px;
        opacity: 1;
        visibility: visible;
        width: 100%;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        box-shadow: none;
    }

    .sub-menu ul li,
    .sub-menu2 ul li {
        padding: 0;
    }

    .sub-menu ul li::after,
    .sub-menu2 ul li::after {
        display: none;
    }

    .dropdown-wrapper2::after {
        display: none;
    }

    .sub-menu ul,
    .sub-menu2 ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 0 0 10px;
    }

    .sub-menu ul li,
    .sub-menu2 ul li {
        position: relative;
        padding: 0 0 0 20px;
    }

    .sub-menu ul li::before,
    .sub-menu2 ul li::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/navlink-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .sub-menu ul li a,
    .sub-menu2 ul li a,
    .dropdown-nav-link-text {
        padding: 0;
        /* font-weight: 500; */
    }

    .dropdown-nav-link-text .icon {
        display: none;
    }

    /* dropdown css end */

    .navbar-sidebar-bottom {
        display: block;
    }

    /* navbar css end */
}

@media only screen and (max-width: 767px) {

    /* navbar css end */
    .navbar-left {
        gap: 12px;
    }

    .navbar-icons {
        gap: 10px;
    }

    .navbar-icons li span svg,
    .navbar-icons li a svg {
        width: 20px;
        height: 20px;
    }

    .navbar-search-bar {
        max-width: calc(100% - 120px);
    }

    .search-bar-inner {
        padding: 9px 20px;
    }

    /* navbar css end */
}

@media only screen and (max-width: 575px) {

    /* navbar css end */
    .navbar-search-bar {
        max-width: calc(100% - 70px);
    }

    .search-btn {
        width: 44px;
        height: 44px;
        min-width: 44px;
    }

    /* navbar css end */
}