/* policy-section css start */
.section.policy-section {
    margin: 110px 0 0 0;
}

.policy-section .section-heading-text {
    max-width: 700px;
}

.policy-content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.policy-content-items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.policy-content-inner-item,
.policy-content-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.policy-content-inner-item {
    margin: 10px 0 0 0;
}

.policy-content-item-title {
    text-transform: capitalize;
    margin: 0 0 10px 0;
}

.policy-content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.policy-content-list {
    padding: 0 0 0 18px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.policy-content-inner-item .policy-content-list {
    margin: 0 0 0 20px;
}

.policy-content-list li::marker {
    font-size: 14px;
}

.policy-content-list li a {
    color: var(--paragraph-text-color);
    font-weight: 600;
}

.policy-content-list li a:hover {
    text-decoration: underline;
}

.policy-content-note {
    margin: 50px 0 0 0;
    padding: 24px 0 0 0;
    border-top: 1px solid var(--border-color);
}

.policy-content-note p {
    line-height: 26px;
    font-style: italic;
}

/* policy-section css end */

@media only screen and (max-width: 992px) {
    .section.policy-section {
        margin: 94px 0 0 0;
    }
}

@media only screen and (max-width: 575px) {
    .policy-content-items {
        gap: 30px;
    }

    h4.policy-content-item-title {
        margin: 0 0 0px 0;
        font-size: 22px;
    }

    h5.policy-content-item-title {
        text-transform: capitalize;
        margin: 0;
        font-size: 18px;
    }

    .policy-content-note {
        margin: 30px 0 0 0;
        padding: 10px 0 0 0;
    }

    .policy-content-note p {
        line-height: 22px;
    }
}