/* product-details-section css start */
.product-details-section .container {
    max-width: 100%;
}

.product-details-heading {
    max-width: 900px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

.product-details-icon-items {
    padding: 32px 0;
    background: var(--item-bg3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom: 1px solid var(--border-color);
}

.product-details-icon-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0 24px;
}

.product-details-icon-item .icon svg {
    height: 72px;
}

.product-details-icon-item-content {
    text-align: center;
}

.product-details-icon-item-content .subtitle {
    margin: 0 0 5px 0;
    font-weight: 600;
}

.product-details-icon-item-content .title {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 600;
}

.product-details-icon-items .line {
    display: block;
    width: 2px;
    background: var(--border-color);
    height: 143px;
}

.product-details-section-list {
    margin: 50px 0 0 0;
    max-width: 600px;
}

.product-details-section-list-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.product-details-section-list ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-details-section-list ul li {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style-type: disc;
}

/* product-details-section css end */

@media only screen and (max-width:992px) {

    /* product-details-section css start */
    .product-details-heading {
        margin: 0 0 32px 0;
    }

    .product-details-icon-items {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        padding: 32px 24px;
    }

    .product-details-icon-item {
        flex-direction: row;
        width: 100%;
        padding: 0;
    }

    .product-details-icon-item-content {
        text-align: left;
    }

    .product-details-icon-items .line {
        width: 100%;
        height: 2px;
    }


    .product-details-section-list {
        margin: 32px 0 0 0;
    }

    /* product-details-section css end */
}

@media only screen and (max-width: 575px) {

    /* product-details-section css start */
    .product-details-icon-item .icon svg {
        height: 50px;
    }

    .product-details-icon-item-content .title {
        font-size: 16px;
        line-height: 22px;
    }

    .product-details-section-list ul li {
        font-size: 14px;
    }

    /* product-details-section css end */
}