/* store-section css start */
.store-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.store-item {
    padding: 20px;
    border: 1px solid var(--border-color);
    transition: all .3s ease-in-out;
}

.store-item:hover {
    border-color: var(--brand-color);
    box-shadow: 0 0 #000, 0 0 #000, 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
}

.store-item img {
    height: auto;
}

.store-item iframe {
    width: 100%;
    height: 350px;
}

.store-item-content {
    padding: 14px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.store-item-title {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.store-item-text {
    font-size: 14px;
    font-family: var(--heading-font);
}

/* store-section css end */

@media only screen and (max-width: 992px) {

    /* store-section css start */
    .store-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .store-item:last-child {
        grid-column: span 2;
    }

    /* store-section css end */
}

@media only screen and (max-width: 575px) {

    /* store-section css start */
    .store-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .store-item {
        padding: 10px;
    }

    .store-item:last-child {
        grid-column: span 1;
    }

    .store-item-content {
        padding: 10px 0 0 0;
        gap: 5px;
    }

    .store-item-title {
        font-size: 20px;
    }

    /* store-section css end */
}