/* timeline-section css start */
.timeline-section .container {
    max-width: 1080px;
}

.timeline-section .section-heading-wrapper {
    text-align: left;
    max-width: 768px;
    margin: 0 0 30px 32px;
}

.timeline-section .section-heading-wrapper .section-heading-text {
    margin: 0;
}

.timeline-items {
    position: relative;
}

.timeline-line {
    position: absolute;
    left: 32px;
    top: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgb(248 245 240) 0%, rgb(0, 0, 0) 50%, rgb(248 245 240) 100%);
    z-index: -1;
}

.timeline-item {
    padding: 160px 0 0 0;
    display: flex;
    gap: 40px;
}

.timeline-item-left {
    width: 20%;
    position: sticky;
    top: 160px;
    height: fit-content;
}

.timeline-item-dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 13px;
    z-index: 1;
}

.timeline-item-dot span {
    width: 18px;
    height: 18px;
    display: block;
    background: var(--brand-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.timeline-item-title {
    text-transform: capitalize;
    color: var(--text-muted);
    padding: 0 0 0 80px;
}

.timeline-item-right {
    width: 80%;
}

.timeline-item-content-text {
    margin: 0 0 16px 0;
}

.timeline-item-content-text p {
    line-height: 26px;
}

.timeline-item-content-img-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.timeline-item-content-img {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.102), 0 4px 6px -4px rgba(0, 0, 0, 0.102);
    overflow: hidden;
    border-radius: 5px;
}

.timeline-item-content-img img {
    aspect-ratio: 4/2;
}

.timeline-item-right .timeline-item-title {
    display: none;
    margin: 0 0 16px 0;
    padding: 0;
}

.timeline-item-content-list li {
    position: relative;
    padding: 0 0 0 24px;
}

.timeline-item-content-list li:not(:last-child) {
    margin: 0 0 8px 0;
}

.timeline-item-content-list li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/list-icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timeline-item-content-list li p {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted2);
}

/* timeline-section css end */

@media only screen and (max-width: 992px) {

    /* timeline-section css start */
    .timeline-item-left {
        width: 30%;
    }

    .timeline-item-right {
        width: 70%;
    }

    /* timeline-section css end */
}

@media only screen and (max-width: 767px) {

    /* timeline-section css start */
    .timeline-section .section-heading-wrapper {
        margin: 0 0 30px 20px;
    }

    .timeline-item {
        padding: 40px 0 0 0;
        gap: 20px;
    }

    .timeline-item-left {
        width: 7%;
    }

    .timeline-item-left .timeline-item-title {
        display: none;
    }

    .timeline-item-dot {
        left: 0;
    }

    .timeline-item-right {
        width: 93%;
    }

    .timeline-item-right .h2.timeline-item-title {
        display: block;
        font-size: 28px;
        line-height: 34px;
    }

    .timeline-line {
        left: 19px;
    }

    .timeline-item-right .timeline-item-title {
        display: block;
    }

    .timeline-item-content-img-wrap {
        gap: 10px;
    }

    /* timeline-section css end */
}

@media only screen and (max-width: 575px) {

    /* timeline-section css start */
    .timeline-section .section-heading-wrapper {
        margin: 0 0 20px 0;
    }

    .timeline-item {
        gap: 0;
    }

    .timeline-item-dot {
        left: -20px;
    }

    .timeline-line {
        left: 0;
    }
    /* timeline-section css end */
}